.task-list {
	width: 100%;
	border-collapse: collapse;

	th,
	td {
		padding: 1rem;
		border: 1px solid #0f0;
		text-align: left;
		transition: all 0.3s ease;
	}

	th {
		background-color: #111;
		color: #0f0;
		font-weight: bold;
	}

	td {
		&:hover {
			background-color: #222;
			transform: scale(1.02);
		}
	}

	tfoot {
		td {
			background-color: #222;
			color: #0f0;
			border-color: #0f0;
		}
	}
}